.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5rem;
  padding-right: 5rem;
}

.header button {
  background-color: teal;
  border: none;
  cursor: pointer;
}

@media (max-width: 425px) {
  .header {
    width: 280px;
    padding-left: 2rem;
  }
  .header h1 {
    width: 350px;
  }
}

@media (max-width: 375px) {
  .header {
    width: 257px;
    padding-left: 2rem;
  }
  .header h1 {
    font-size: 24px;
  }
}

@media (max-width: 320px) {
  .header {
    width: 200px;
    padding-left: 0;
  }
  .header h1 {
    font-size: 19px;
  }
}
