.input {
  width: 450px;
  border-radius: 5px;
}

@media (max-width: 425px) {
  .header {
    width: 425px;
  }
  .input {
    width: 95%;
    border-radius: 5px;
  }
}

@media (max-width: 375px) {
  .header {
    width: 375px;
    padding-right: 2rem;
  }
  .input {
    width: 300px;
    border-radius: 5px;
  }
}

@media (max-width: 320px) {
  .header {
    display: flex;
    width: 320px;
  }
}
